.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#32a852;
  }
  
  .login-form {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }

  .login-form:hover {
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
    transform: translateY(-5px); /* Slight lift on hover */
}
  
  .login-form h1 {
    font-size: 36px;
    color: #28a745; /* Aesthetic green */
    margin-bottom: 20px;
  }
  
  .login-button {
    width: 100%;
    background-color: #28a745; /* Aesthetic green */
    border: none;
    color: white;
    font-weight: bold;
  }
  
  .footer-links {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .footer-links a {
    color: #28a745; /* Aesthetic green */
    text-decoration: none;
  }
  
  .footer-links p {
    margin: 0;
  }
  